<div class="row">
  <h1>Habilidades</h1>
  <div class="col-sm-6 col-md-4 col-lg-4">
      <circle-progress
      [percent]="50"
      [radius]="100"
      [title]="'HTML'"
      [titleFontSize]="'1.5em'"
      [showUnits]="false"
      [titleColor]="'#e69897'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#e69897'"
      [innerStrokeColor]="'#F27E7D'"
      [animation]="false"
      [animationDuration]="300"
      [responsive]="false"
    ></circle-progress>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-4">
    <circle-progress
    [percent]="40"
    [radius]="100"
    [title]="'CSS'"
    [titleFontSize]="'1.5em'"
    [showUnits]="false"
    [titleColor]="'#e69897'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#e69897'"
    [innerStrokeColor]="'#F27E7D'"
    [animation]="false"
    [animationDuration]="300"
    [responsive]="false"
  ></circle-progress>
</div>
<div class="col-sm-6 col-md-4 col-lg-4">
  <circle-progress
  [percent]="20"
  [radius]="100"
  [title]="'Javascript'"
  [titleFontSize]="'1.5em'"
  [showUnits]="false"
  [titleColor]="'#e69897'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#e69897'"
  [innerStrokeColor]="'#F27E7D'"
  [animation]="false"
  [animationDuration]="300"
  [responsive]="false"
></circle-progress>
</div>
</div>
