<div class="acerca_de">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <img src="../../assets/foto_carnet.png" alt="foto" class="img-responsive borde ">
      <p class="nombre text-center">Astro Nave</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Acerca de mi</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati veniam tenetur eius nesciunt. Esse, eveniet deleniti numquam repellat, magnam quasi nemo eligendi exercitationem omnis quis, architecto natus blanditiis est dolorem ea inventore culpa. Corporis iure animi, repudiandae expedita molestiae optio. Ex excepturi sequi rem iusto magnam consequuntur, exercitationem voluptatibus dicta!</p>

      </span>
    </div>
  </div>
</div>
