.acerca_de{
  background-color: #2E5757;
  padding: 20px;
}
.borde {
  border-color: #F2B54B;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}

.nombre{
  padding: 10px;
  font-family: Federant;
  font-size: 2rem;
}

.text-justify{
  text-align: justify;
  padding: 7px;
}
