<div class="contenedor">
  <div class="encabezado">
    <div class="ArgProg">
      <img src="../../assets/APLogo-20-20.png" id="Logo_A_P" class="img-responsive" alt="Logo_A_P">
    </div>
    <div></div>
    <dir></dir>
    <div class="sociales_login">
      <a href="https://www.behance.net/juantalbot1" target="_blank"><img src="../../assets/behance.png" class="img-responsive Logo_sociales" alt="behance"></a>
      <a href="https://www.domestika.org/es/juantalbot/portfolio" target="_blank"><img src="../../assets/domestica_logo.png" class="img-responsive Logo_sociales" alt="domestica"></a>
      <a href="https://github.com/AstroNave76" target="_blank"><img src="../../assets/github.png" class="img-responsive Logo_sociales" alt="github"></a>
      <a href="https://www.linkedin.com/in/juan-talbot-b631a868/" target="_blank"><img src="../../assets/linkedin.png" class="img-responsive Logo_sociales" alt=""></a>
    </div>
  </div>
  <div class="banner">
    <img class="img-responsive" src="../../assets/banner.png" alt="">


  </div>
</div>
